:root {
    --pink-light: #C59DD2;
    --pink-base: #9547A5;
    --pink-dark: #7D298A;
    --pink-low: #3F0F41;

    --blue-light: #73B6D2;
    --blue-base: #358BB9;
    --blue-mid: #2374A4;
    --blue-dark: #144A72;
    --blue-low: #08233C;

    --shape-stroke: #002347;
    --shape-hover: #001933;
    --shape-base: #000F1F;
    --shape-background: #00050A;

    --text-title: #F8FBFB;
    --text-body: #E2E7E9;
    --text-label: #BAC6C9;

    --ff: "Raleway", serif;;

    --tittle-lg: 700 3rem/1.2 var(--ff);
    --tittle-md: 700 2.5rem/1.2 var(--ff);
    --tittle-sm: 700 2rem/1.2 var(--ff);
    --tittle-xs: 700 1rem/1.2 var(--ff);

    --subtitle: 500 2rem/200% var(--ff);

    --body-lg: 400 1.25rem/140% var(--ff);
    --body-md: 400 1rem/140% var(--ff);
    --body-sm: 400 0.875rem/140% var(--ff);
    --body-xs: 400 0.75rem/140% var(--ff);

    --button: 700 0.875rem/1.2 var(--ff);
    --link: 500 0.875rem/1.2 var(--ff);
    --tag: 700 0.625rem/1.2 var(--ff);
}

* {
    margin: 0;
    padding: 0;
}
